<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Color Show</title>
	<link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>

<body>
	<h1 class="flex h-14 text-xl items-center justify-center text-white bg-gray-800">
		<a href="/" class="px-8 py-4 cursor-pointer">Extract your colors</a>
	</h1>
	<div class="flex flex-col min-h-screen justify-center items-center">
		<div class="border border-black shadow-lg rounded-lg h-96 p-6">
			{% for color in colors %}
				<h4 class="border border-red-300">{{ color.rgb }}</h4>
			{% endfor %}
		</div>
	</div>
</body>

</html>
