<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Color Extractor</title>
		<link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
	</head>
	<body>
		<h1 class="flex h-14 text-xl items-center justify-center text-white bg-gray-800">
			<a href="/" class="px-8 py-4 cursor-pointer">Extract your colors</a>
		</h1>
		<div class="flex flex-col min-h-screen justify-center items-center">
			<div class="border border-black shadow-lg rounded-lg h-96 p-6">
				<h4 class="border border-red-300">Upload your file!</h4>
				{% if error %}
					<h4 class="border border-red-500 text-red-500">{{ error }}</h4>
				{% endif %}
				<form class="border flex self-center items-center" action="/upload" method="POST" enctype="multipart/form-data">
					<input type="file" name="file">
					<input
						type="submit"
						class="rounded-lg px-6 py-3 border hover:bg-blue-500 hover:text-white"
						value="Upload" />
				</form>
			</div>
		</div>
	</body>
</html>
